name: Linter Check
on: [push, pull_request]
jobs:
    lint-and-format:
        runs-on: ubuntu-latest
        permissions: 
            contents: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.9"
            
            - name: Install Ruff
              run: |
                  python -m pip install --upgrade pip
                  pip install ruff==0.4.4
            
            - name: Run linter
              run: ruff check .
            
            - name: Run formatter check
              run: ruff format --check .